<ion-modal-view overflow-scroll="false">
  <ion-content class="modal2">
    <div class="row font-style">
      <div class="est col"><i class="est estrogen-arrow" ng-class="{
      'icon ion-arrow-graph-up-right' : modal.days.phase === 1 || modal.days.phase === 2 || modal.days.phase === 'ovDay',
      'icon ion-arrow-graph-down-right' : modal.days.phase === 3 || modal.days.phase === 4
    }"></i> ESTROGEN</div>

      <div class="prog col"><i class="prog progesterone-arrow" ng-class="{
      'icon ion-arrow-graph-down-right' : modal.days.phase === 1 || modal.days.phase === 2,
      'icon ion-arrow-graph-up-right' : modal.days.phase === 'ovDay' || modal.days.phase === 3 || modal.days.phase === 4
    }"></i> PROGESTERONE</div>
    </div>

    <div id="blurb">
      <p>{{modal.days.data.string}}</p>
    </div>


    <div class="row">
      <h4 class="col" ng-click="postMood(1, modal.days._id)">Happy</h4>
      <h4 class="col" ng-click="postMood(2, modal.days._id)">Sad</h4>
      <h4 class="col" ng-click="postMood(3, modal.days._id)">Anxious</h4>
      <h4 class="col" ng-click="postMood(4, modal.days._id)">Irritated</h4>
    </div>

    <button class="bar bar-footer button button-full button-positive" ng-click="closeModal(1)">Close</button>
  </ion-content>
</ion-modal-view>
