<ion-modal-view>
  <ion-content class="modal">
      <div class="close"><i class="icon ion-close-round" ng-click="closeModal(1)"></i></div>
    <!-- <h1 class="title">Day {{modal.days.index}}</h1> -->
    <div class="row font-style">
    <div class="est col"><i class="est estrogen-arrow" ng-class="{
      'icon ion-arrow-up-a' : modal.days.phase === 1 || modal.days.phase === 2 || modal.days.phase === 'ovDay',
      'icon ion-arrow-down-a' : modal.days.phase === 3 || modal.days.phase === 4
    }"></i>  ESTROGEN</div>

    <div class="prog col"><i class="prog progesterone-arrow" ng-class="{
      'icon ion-arrow-right-a' : modal.days.phase === 1 || modal.days.phase === 2,
      'icon ion-arrow-up-a' : modal.days.phase === 'ovDay' || modal.days.phase === 3 || modal.days.phase === 4
    }"></i>  PROGESTERONE</div>
</div>

<div id="blurb">
  <p>{{modal.days.data.string}}</p>
</div>

  </ion-content>
</ion-modal-view>
