<ion-view view-title="Settings">
  <ion-content>
    <select ng-model="cycleLength" ng-change="changedCycleLength(cycleLength)" ng-options="o for o in cycleLengthArray">
    </select>
    
    <div>
      <button class="button button-positive" ui-sref="tab.calendar" ui-sref-opts="{reload: true, notify:true}" ng-click="postData(userCycleLengthArray)">Save Changes</button>

      <button class="button button-positive" ng-click="testArray()">Test Array</button>
    </div>
  </ion-content>
</ion-view>
